body {
    font-family:'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    color: black;
    background-color: #f3f3f3;
    margin: 0%;
    padding: 0%;
}

header {
    background: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #6634db;
}

#about-me {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
}

#about-me h2 {
    display: flex;
    color: #030303;
    margin-bottom: 5px;
}

#about-me ul {
    list-style: none;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

#about-me ul li a {
    display: block;
    background: #020202;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

#about-me ul li a:hover {
    background: #6634db;
}

.contact-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto;
}

.field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #050505;
    color: white;
    cursor:pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: #6634db;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    color: #030303;
    margin-bottom: 5px;
}

article{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: #6634db;
}